@import url('https://fonts.googleapis.com/css?family=Poppins: 300,400,500,600,700,800,900&display=swap');

:root {
    --main-text-color: #fff;
    --main-bg-color: #d3444a;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background:var(--main-bg-color);
    overflow-x: hidden;
}

/* Header */
#topl{
    background: linear-gradient(#d3444a,#f9a962);
    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

/* Header buttons */

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    font-size: 20px;
    list-style: none;
    margin-left: 40px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
    
}

header ul li a:hover{
    background: #fff;
    color: #dc5c4f;
    
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,var(--main-bg-color), transparent);
    z-index: 1000;
}
/* Background images */
section img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* big text headers */

#text{
    margin-bottom: 50px;
    position:absolute;
    color:#fff;
    white-space: nowrap;
    font-size: 6vw;
    z-index: 9;
}

#btn{
    font-size: 30px;
    margin-top: 50px;
    text-decoration: none;
    padding: 8px 60px;
    border-radius: 20px;
    background:#fff;
    color:#dc5c4f;
    z-index: 9;
    transform: translateY(100px);
}

#btn:hover{
    color: #fff;
    background: #dc5c4f;
    transition: 0.3s;

}

/* left and right */

#leftcol{
    float: left;
    width: 25%;
}

#leftcol img {
    width: 100%;
    align-items: center;
    border-radius: 50px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#leftcol img:hover {
    width: 100%;
    align-items: center;
    border-radius: 50px;
    animation: shake 0.5s;
    width:400%;
    animation-iteration-count: infinite;

}


#rightcol{
    float: left;
    width: 75%;
}

/* Side panel */

.sidepanel {
    position:relative;
    padding: 60px;
    border-radius: 50px;
    margin: 10px 20px;
    text-align: left;
    color: var(--main-text-color);
}

.sidepanel h2{
    text-align: center;
    padding: 6px 3px;
    font-size: 2em;
    margin-bottom: 10px;
}

.sidepanel p{
    padding: 10px;
    font-size: 1.2em;
    color:var(--main-text-color);
}

/* section */


.sec{
    background:linear-gradient(to bottom,#f9a962, transparent);
    /* background-color: #ffffff; */
    position:relative;
    padding: 60px;
    border-radius: 50px;
    margin: 10px 20px;
    text-align: center;
    transition:
    width 2s,
    height 2s,
    background-color 2s,
    rotate 1.3s;
}

.sec:hover {
    transition:0.4s;
    background:linear-gradient(to bottom, transparent,#f9a962);
    rotate: 180deg;

}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color:var(--main-text-color);
}

.sec h3{
    font-size: 1.4em;
    color:var(--main-text-color);
    margin-bottom: 20px;

}

.sec p{
    font-size: 1.2em;
    color:var(--main-text-color);
}