:root {
    --background-color: #ffdebf;
    --font-color: #000000;
    --white-color: #FFFFFF;
    --font-size-sm: 18px;
    --font-size-md: 24px;
    --font-size-md-1: 40px;
    --font-size-lg: 64px;
    --button-hover: #FE947F;
}


@font-face{
    font-family: Yrsa;
    src: url(/web/res/fonts/Yrsa/Yrsa-VariableFont_wght.ttf);
}
@font-face{
    font-family: Sansita;
    src: url(/web/res/fonts/Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf);
}

h2{
    font-family: Sansita;
    text-align: center;
    margin-top: 90px!important;
    margin-bottom: 40px !important;
    font-size: var(--font-size-lg)!important;
}


html{
    scroll-behavior: smooth;
}

.all-content {
    font-family: Yrsa;
    background-color: var(--background-color);
}

/* Nav start */
.navbar-nav {
    margin:auto;
    display: flex;
    justify-content: center;
}

.nav-item{
    margin-top: 30px;
    font-size: var(--font-size-md);
    margin-right: 63px;
    color: var(--font-color);
}
/* Nav End */

/* Banner Start */
#banner{
    margin: auto;
    padding-top: 60px;
}
.title{
    margin-left: 80px;
    font-family: Sansita;
    margin-right: 20px;
    margin-top: 150px;
    font-size: var(--font-size-lg);

}

.title-paragraph{
    margin-left: 80px;
    margin-right: 20px;
    font-size: var(--font-size-md-1);
}

.button-scroll-down{
    padding-top: 90px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
}

.button-scroll-down p {
    font-size: var(--font-size-sm);
}

.button-scroll-down button{
    margin: auto;
    border: none;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

#aboutme img{
    margin: auto;
    margin-top: 200px;
    max-width: 100% ;
}

.btn img{
    max-height: 30px;
}

.button-scroll-down .btn-primary:hover {
    background-color: var(--button-hover); 
    border-color: var(--button-hover); 
    color: var(--white-color); 
}

.button:focus,
.button:active,
.btn:focus,
.button:active {
  outline: none !important;
  box-shadow: none !important;
}
/* Banner End */

/* About Me Start */

#aboutme{
    display: flex;
    margin: auto;
    padding-bottom: 5%;
    padding-top: 100px;
    background-color: var(--background-color);
}



#aboutme img {
    margin: auto;
    max-width: 100%; 
    display: block;
}

.aboutme-p {
    margin-top: 5%;
    text-align: justify;
    font-size: var(--font-size-md);
    margin-left: auto;
    margin-right: 20%;
    max-width: 100%; 
}

/* About Me End */
/* Skills Start */

#skills{
    margin-bottom: 100px;
}
.custom-card.card {
    border-radius: 80px 80px 0 0 !important; /* top-left, top-right, bottom-right, bottom-left */
    height: 370px; /* Adjust height as needed */
    width: 300px;
    border: none;


}

#skills .card {
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    transition: 0.5s;
    box-shadow: rgba(17,17,26,0.1) 0px 0px 16px;
}


#skills .card-img-top{
    max-width: 200px;
    object-fit: cover;
    max-height: 300px; 
    width: auto; 
    height: auto; 
    margin: auto;
}

#skills .card-body h4{
    margin: auto;
    font-size: var(--font-size-md-1) !important;
    margin-top: 70px;
    font-family: Yrsa;
}

/* Skills End */
/* Work Experience Start */
.fs-8{
    font-size: 18px;
}

.fs-7{
    font-size: 16px;
}

 /* CSS for the timeline */
.container.position-relative {
    position: relative;
}


/* CSS for the timeline */
.container.position-relative {
    position: relative;
}

.card:hover{
	transform: translateY(-25px);
}

.card {
    z-index: 1;
}

.leftBox {
    margin-left: -40rem;
}

.rightBox {
    margin-right: -40rem;
}

.left-arrow, .right-arrow {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 100%;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right-arrow {
    right: 100%;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}



.timeline {
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px !important;
    height: 100%;
    background: white;
    transform: translateX(-50%);
}

#work-experience h2{
    margin-bottom: 100px !important;
}

#work-experience{
    padding-bottom:40px;
}

#work-experience .card{
    transition: 0.5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}

#work-experience .card:hover{
	transform: translateY(-25px);
}


#projects h2{
    margin-top: 0px !important;
    background-image: linear-gradient(var(--background-color), var(--white-color));
}

#projects{
    background-color:var(--white-color);
    padding-bottom: 50px;
}

.video-container, .image-container{
    margin: auto;
    justify-content: center;
    display: flex;
}


.image-container img,
.video-container iframe {
    width: 640px;
    height: 360px;
    border-radius: 10px;
    size: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-container:nth-child(even) h3{
    text-align: left;
    padding-left: 140px;

}

.project-container:nth-child(odd) h3 {
    text-align: right;
    padding-right: 140px;

}

.project-container:nth-child(even) p,
.project-container:nth-child(odd) p {
    margin: auto;
}

i{
    color: black;
}

.project-container{
    padding: 30px;
    padding-bottom: 20px;
}


.project-container h3{
    font-size: var(--font-size-md-1);
    margin-bottom: 40px;

}

.project-container p{
    font-size: var(--font-size-md);
}

#contact-me {
    padding-bottom:30px ;
}

a {
    /* text-decoration: none !important; */
    color: #e46a6a !important;
}
#contact-me h5{
    background-image: linear-gradient(var(--white-color), var(--background-color));
    margin-top: 0px !important;
    padding-top: 40px;
    text-align: center;
    font-size: var(--font-size-md-1) ;

}

.btn-primary:active {
    background-color: var(--button-hover)!important;
}



ul a{
    color: var(--font-color)!important;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container i,
.contact-container p {
    padding: 10px;
    font-size: var(--font-size-sm);
}

.contact-container p{
    margin-bottom: 0px !important;
}


